@import "tailwindcss";

.input {
    @apply w-full rounded-md bg-gray-700 border border-gray-600 px-4 py-2 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}